/* Navigation Bar Section  */
*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}


header{
    padding: 0px 50px 0px;
    background-image: url('images/Background\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links{
    display: flex;
    justify-content: space-between;
    width: 75%;
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.Title{
    font-size: 50px;
}